*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f1e9e9;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
   background-color: #582965;
   border-radius: 18px;
   border: 2px solid #ffffff;
}